{% extends 'transactions/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %} <h1>Welcome, {{ user.username }}</h1>
    <h2>Net : {{ net }} dzd</h2>
    <h2>Total spent : {{ total_expense }} dzd</h2>
    <h2>Total income : {{ total_income }} dzd</h2>
    <ul>
        {% for key, value in category_data.items %}
            <li> {{ key }} : {{ value.total }}
                <ul>
                    {% for sub in value.subcategories %}
                    <li>{{ sub.name }} : {{ sub.total }}</li>
                {% endfor %}    
            </ul>
        </li>
        {% empty %}
            <li>No transactions yet.</li>
        {% endfor %}
    </ul>

    <form method="get" action="{% url 'view_transactions' %}">
    <button type="submit">View transactions</button>
    </form>

    <form method="get" action="{% url 'add_transaction' %}">
    <button type="submit">Add Transaction</button>
    </form>

    <form method="get" action="{% url 'view_categories' %}">
    <button type="submit">View Categories</button>
    </form>

    <form method="get" action="{% url 'add_category' %}">
    <button type="submit">Add Category</button>
    </form>

     <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>   
</form> 
{% endblock %}