{% extends 'transactions/base.html' %}
{% block title %}Delete transaction{% endblock %}
{% block content %} 
        <h2>Delete a transaction</h2>
        <form method="post">                                                
      {% csrf_token %}                                                
      <p>Are you sure you want to delete "{{ transaction }}"?</p>     
      <button type="submit">Yes, delete</button>                      
  </form>                                                             
  <a href="{% url 'view_transactions' %}">Cancel</a>  

{% endblock %}